include header.pug
.container
      h2.mt-5 Add a New Game of Thrones Character
      form(action="/character/create", method="POST") 
        .form-group
          label(for="name") Character Name 
          input#name.form-control(type="text", name="name", required=true)
        .form-group 
          label(for="house") House  
          input#house.form-control(type="text", name="house", required=true)
        .form-group
          label(for="attack") Attack
          input#house.form-control(type="number", name="attack", required=true)
        .form-group
          label(for="defense") Defense
          input#house.form-control(type="number", name="defense", required=true)
          br
        button.btn.btn-primary(type="submit") Submit